<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Harmony Framework</title>
    <meta charset="utf-8">
    <meta name="author" content="Felipe Geroldi"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #232531;
            font-family: 'Rajdhani', sans-serif;
            color: white;
        }

        .text-title {
            font-size: 5rem;
            background: linear-gradient(to right, #c70039, #ff5733 25%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body>
    <div style="margin-left:2em;margin-top:10em">
        <h2>Welcome to</h2>
        <h1 class="text-title">Harmony</h1>
        <h2>Framework - v1.0b (RC1)</h2>
    </div>
</body>
</html>